<a href="https://colab.research.google.com/github/ReshmiMaulik/Data-Sets-for-Projects/blob/main/Project_Obesity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/ReshmiMaulik/Data-Sets-for-Projects.git

Cloning into 'Data-Sets-for-Projects'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 6 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), done.

In [ ]:
import numpy as np
import pandas as pd
from pandas import read_csv
import sklearn
from sklearn.metrics import classification_report

In [ ]:
dataframe= read_csv("/content/Data-Sets-for-Projects/ObesityDataSet_raw_and_data_sinthetic.csv")

In [ ]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [ ]:
dataframe.head()

   Gender   Age  Height  ...        CALC                 MTRANS           NObeyesdad
0  Female  21.0    1.62  ...          no  Public_Transportation        Normal_Weight
1  Female  21.0    1.52  ...   Sometimes  Public_Transportation        Normal_Weight
2    Male  23.0    1.80  ...  Frequently  Public_Transportation        Normal_Weight
3    Male  27.0    1.80  ...  Frequently                Walking   Overweight_Level_I
4    Male  22.0    1.78  ...   Sometimes  Public_Transportation  Overweight_Level_II

[5 rows x 17 columns]

In [ ]:
dataset=dataframe.values

In [ ]:
def map_gender(column):
    mapped=[]

    for value in column:

      if value=='Female':
        mapped.append(1)
      else: 
        mapped.append(0)

    return mapped
dataframe['gender_norms']=map_gender(dataframe['Gender'])

In [ ]:
dataframe

      Gender        Age  ...           NObeyesdad  gender_norms
0     Female  21.000000  ...        Normal_Weight             1
1     Female  21.000000  ...        Normal_Weight             1
2       Male  23.000000  ...        Normal_Weight             0
3       Male  27.000000  ...   Overweight_Level_I             0
4       Male  22.000000  ...  Overweight_Level_II             0
...      ...        ...  ...                  ...           ...
2106  Female  20.976842  ...     Obesity_Type_III             1
2107  Female  21.982942  ...     Obesity_Type_III             1
2108  Female  22.524036  ...     Obesity_Type_III             1
2109  Female  24.361936  ...     Obesity_Type_III             1
2110  Female  23.664709  ...     Obesity_Type_III             1

[2111 rows x 18 columns]

In [ ]:
def map_family_history_with_overweight(column):
    mapped=[]

    for value in column:

      if value=='yes':
        mapped.append(1)
      else: 
        mapped.append(0)

    return mapped
dataframe['family_history_with_overweight_norms']=map_family_history_with_overweight(dataframe['family_history_with_overweight'])

In [ ]:
dataframe

      Gender        Age  ...  gender_norms  family_history_with_overweight_norms
0     Female  21.000000  ...             1                                     1
1     Female  21.000000  ...             1                                     1
2       Male  23.000000  ...             0                                     1
3       Male  27.000000  ...             0                                     0
4       Male  22.000000  ...             0                                     0
...      ...        ...  ...           ...                                   ...
2106  Female  20.976842  ...             1                                     1
2107  Female  21.982942  ...             1                                     1
2108  Female  22.524036  ...             1                                     1
2109  Female  24.361936  ...             1                                     1
2110  Female  23.664709  ...             1                                     1

[2111 rows x 19 columns]

In [ ]:
def map_FAVC(column):
    mapped=[]

    for value in column:

      if value=='yes':
        mapped.append(1)
      else: 
        mapped.append(0)

    return mapped
dataframe['FAVC_norms']=map_FAVC(dataframe['FAVC'])

In [ ]:
dataframe

      Gender        Age  ...  family_history_with_overweight_norms  FAVC_norms
0     Female  21.000000  ...                                     1           0
1     Female  21.000000  ...                                     1           0
2       Male  23.000000  ...                                     1           0
3       Male  27.000000  ...                                     0           0
4       Male  22.000000  ...                                     0           0
...      ...        ...  ...                                   ...         ...
2106  Female  20.976842  ...                                     1           1
2107  Female  21.982942  ...                                     1           1
2108  Female  22.524036  ...                                     1           1
2109  Female  24.361936  ...                                     1           1
2110  Female  23.664709  ...                                     1           1

[2111 rows x 20 columns]

In [ ]:
def map_SMOKE(column):
    mapped=[]

    for value in column:

      if value=='yes':
        mapped.append(1)
      else: 
        mapped.append(0)

    return mapped
dataframe['SMOKE_norms']=map_SMOKE(dataframe['SMOKE'])

In [ ]:
dataframe

      Gender        Age  ...  FAVC_norms  SMOKE_norms
0     Female  21.000000  ...           0            0
1     Female  21.000000  ...           0            1
2       Male  23.000000  ...           0            0
3       Male  27.000000  ...           0            0
4       Male  22.000000  ...           0            0
...      ...        ...  ...         ...          ...
2106  Female  20.976842  ...           1            0
2107  Female  21.982942  ...           1            0
2108  Female  22.524036  ...           1            0
2109  Female  24.361936  ...           1            0
2110  Female  23.664709  ...           1            0

[2111 rows x 21 columns]

In [ ]:
def map_SCC(column):
    mapped=[]

    for value in column:

      if value=='yes':
        mapped.append(1)
      else: 
        mapped.append(0)

    return mapped
dataframe['SCC_norms']=map_SCC(dataframe['SCC'])

In [ ]:
dataframe

      Gender        Age    Height  ...  FAVC_norms SMOKE_norms SCC_norms
0     Female  21.000000  1.620000  ...           0           0         0
1     Female  21.000000  1.520000  ...           0           1         1
2       Male  23.000000  1.800000  ...           0           0         0
3       Male  27.000000  1.800000  ...           0           0         0
4       Male  22.000000  1.780000  ...           0           0         0
...      ...        ...       ...  ...         ...         ...       ...
2106  Female  20.976842  1.710730  ...           1           0         0
2107  Female  21.982942  1.748584  ...           1           0         0
2108  Female  22.524036  1.752206  ...           1           0         0
2109  Female  24.361936  1.739450  ...           1           0         0
2110  Female  23.664709  1.738836  ...           1           0         0

[2111 rows x 22 columns]

In [ ]:
def map_MTRANS(column):
    mapped=[]

    for value in column:

      if value=='Public_Transportation':
        mapped.append(1)
      else: 
        mapped.append(0)

    return mapped
dataframe['MTRANS_norms']=map_MTRANS(dataframe['MTRANS'])

In [ ]:
dataframe

      Gender        Age    Height  ...  SMOKE_norms SCC_norms MTRANS_norms
0     Female  21.000000  1.620000  ...            0         0            1
1     Female  21.000000  1.520000  ...            1         1            1
2       Male  23.000000  1.800000  ...            0         0            1
3       Male  27.000000  1.800000  ...            0         0            0
4       Male  22.000000  1.780000  ...            0         0            1
...      ...        ...       ...  ...          ...       ...          ...
2106  Female  20.976842  1.710730  ...            0         0            1
2107  Female  21.982942  1.748584  ...            0         0            1
2108  Female  22.524036  1.752206  ...            0         0            1
2109  Female  24.361936  1.739450  ...            0         0            1
2110  Female  23.664709  1.738836  ...            0         0            1

[2111 rows x 23 columns]

In [ ]:
def map_NObeyesdad(column):
    mapped=[]

    for value in column:

      if value=='Overweight_Level_I':
        mapped.append(1)
      elif value=='Overweight_Level_II':
        mapped.append(2) 
      elif value=='Obesity_Type_III':
        mapped.append(3)   
      else: 
        mapped.append(0)

    return mapped
dataframe['NObeyesdad_norms']=map_NObeyesdad(dataframe['NObeyesdad'])

In [ ]:
dataframe

      Gender        Age    Height  ...  SCC_norms MTRANS_norms NObeyesdad_norms
0     Female  21.000000  1.620000  ...          0            1                0
1     Female  21.000000  1.520000  ...          1            1                0
2       Male  23.000000  1.800000  ...          0            1                0
3       Male  27.000000  1.800000  ...          0            0                1
4       Male  22.000000  1.780000  ...          0            1                2
...      ...        ...       ...  ...        ...          ...              ...
2106  Female  20.976842  1.710730  ...          0            1                3
2107  Female  21.982942  1.748584  ...          0            1                3
2108  Female  22.524036  1.752206  ...          0            1                3
2109  Female  24.361936  1.739450  ...          0            1                3
2110  Female  23.664709  1.738836  ...          0            1                3

[2111 rows x 24 columns]

# Too much float value disorder so we have to use standard scalar

In [ ]:
#from sklearn.preprocessing import StandardScaler

In [ ]:
#scaler = StandardScaler()

In [ ]:
#features = dataframe.drop('NObeyesdad',axis=1)
#target=dataframe['NObeyesdad']

In [ ]:
X = dataframe [['Age','Height','Weight','FCVC','NCP','CH2O','FAF','TUE','gender_norms','family_history_with_overweight_norms','FAVC_norms','SMOKE_norms','SCC_norms','MTRANS_norms']]
X

            Age    Height      Weight  ...  SMOKE_norms  SCC_norms  MTRANS_norms
0     21.000000  1.620000   64.000000  ...            0          0             1
1     21.000000  1.520000   56.000000  ...            1          1             1
2     23.000000  1.800000   77.000000  ...            0          0             1
3     27.000000  1.800000   87.000000  ...            0          0             0
4     22.000000  1.780000   89.800000  ...            0          0             1
...         ...       ...         ...  ...          ...        ...           ...
2106  20.976842  1.710730  131.408528  ...            0          0             1
2107  21.982942  1.748584  133.742943  ...            0          0             1
2108  22.524036  1.752206  133.689352  ...            0          0             1
2109  24.361936  1.739450  133.346641  ...            0          0             1
2110  23.664709  1.738836  133.472641  ...            0          0             1

[2111 rows x 14 columns]

In [ ]:
y=dataframe[['NObeyesdad_norms']]
y

      NObeyesdad_norms
0                    0
1                    0
2                    0
3                    1
4                    2
...                ...
2106                 3
2107                 3
2108                 3
2109                 3
2110                 3

[2111 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.29,random_state=42)

In [ ]:
X_train

            Age    Height      Weight  ...  SMOKE_norms  SCC_norms  MTRANS_norms
1825  18.177882  1.821566  142.102468  ...            0          0             1
721   17.823438  1.708406   50.000000  ...            0          0             1
187   25.000000  1.780000   98.000000  ...            0          0             1
1801  18.233541  1.792378  137.859737  ...            0          0             1
158   40.000000  1.550000   62.000000  ...            0          0             0
...         ...       ...         ...  ...          ...        ...           ...
1638  32.290160  1.754956  120.098812  ...            0          0             0
1095  23.000000  1.718981   81.669950  ...            0          0             1
1130  22.989846  1.650000   80.000000  ...            0          0             1
1294  23.000000  1.628168   84.497980  ...            0          0             1
860   20.000000  1.817480   85.000000  ...            0          0             1

[1498 rows x 14 columns]

Using KNN algorithm

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=2)

In [ ]:
knn.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [ ]:
predictions = knn.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.93      0.94      0.94       358
           1       0.77      0.86      0.81        83
           2       0.91      0.74      0.82        78
           3       0.99      1.00      0.99        94

    accuracy                           0.92       613
   macro avg       0.90      0.89      0.89       613
weighted avg       0.92      0.92      0.91       613